---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/Hero/HeroSection.astro';
import ProfileSection from '../components/Profile/ProfileSection.astro';
import { ProfileContent } from '../lib/utils/profileData';

import { Image } from 'astro:assets';
import myImage from '../assets/img/img_profile.png';
---

<Layout title="プロフィール | SAKUSPACE">
  <HeroSection title="PROFILE" isHome={false} />

  <div class="py-8">
    <div class="container-md">
      <div class="rounded-md overflow-hidden">
        <div class="px-2 py-8">
          <!-- プロフィールヘッダー -->
          <div class="flex flex-col md:flex-row items-center gap-6 mb-8">
            <!-- プロフィール画像 -->
            <div
              class="w-40 h-40 rounded-full overflow-hidden relative z-10 bg-white dark:bg-gray-700"
            >
              <Image
                src={myImage}
                alt="プロフィール画像"
                class="w-full h-full object-cover"
                width="160"
                height="160"
              />
            </div>
            <!-- 名前と肩書き -->
            <div class="text-center md:text-left">
              <p class="text-xl font-bold lg:text-2xl text-gray-900 dark:text-white">
                {ProfileContent.name}
              </p>
              <p class="text-md text-gray-600 dark:text-gray-300 mt-1">{ProfileContent.role}</p>
            </div>
          </div>

          <!-- 自己紹介セクション -->
          <ProfileSection title="自己紹介" className="mb-10">
            <p class="text-gray-700 dark:text-gray-300 leading-relaxed">
              {ProfileContent.bio}
            </p>
          </ProfileSection>

          <!-- スキルセクション -->
          <!-- <ProfileSection title="スキル" className="mb-10">
            <div class="mb-8">
              <div class="flex items-center gap-3 mb-4">
                <h3 class="heading-h3">＜業務経験＞</h3>
              </div>

              <div class="grid grid-cols-1 gap-3">
                {
                  Array.isArray(ProfileContent.professionalSkills) &&
                    ProfileContent.professionalSkills.length > 0 &&
                    ProfileContent.professionalSkills.map((skill) => (
                      <div class="p-4">
                        <div class="flex items-center justify-between mb-2">
                          <h4 class="heading-h4">{skill.name}</h4>
                          {/* <span class="bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-300 px-3 py-1 text-xs rounded-full">
                          {skill.years}年の経験
                        </span> */}
                        </div>

                        <div class="text-sm text-gray-600 dark:text-gray-400">{skill.details}</div>
                      </div>
                    ))
                }
              </div>
            </div>

            <div>
              <div class="flex items-center gap-3 mb-4">
                <h3 class="heading-h3">＜個人開発・学習＞</h3>
              </div>

              <div class="grid grid-cols-1 gap-3">
                {
                  Array.isArray(ProfileContent.personalSkills) &&
                    ProfileContent.personalSkills.length > 0 &&
                    ProfileContent.personalSkills.map((skill) => (
                      <div class="p-4">
                        <div class="flex items-center justify-between mb-2">
                          <h4 class="heading-h4">{skill.name}</h4>
                          {/* <span class="bg-gray-100 dark:bg-gray-700 text-gray-700 dark:text-gray-300 px-3 py-1 text-xs rounded-full">
                          {skill.years}年の経験
                        </span> */}
                        </div>

                        <div class="text-sm text-gray-600 dark:text-gray-400">{skill.details}</div>
                      </div>
                    ))
                }
              </div>
            </div>
          </ProfileSection> -->

          <!-- 経歴セクション -->
          <!-- <ProfileSection title="経歴" className="mb-10">
            <div class="space-y-6">
              {
                ProfileContent.experience.map((exp) => (
                  <div class="border-l-4 border-gray-300 dark:border-gray-700 pl-4 py-1">
                    <div class="text-sm text-gray-500 dark:text-gray-400 mb-1">{exp.period}</div>
                    <h3 class="heading-h3 mb-2">{exp.company}</h3>
                    <p class="text-gray-700 dark:text-gray-300 mb-1 font-medium">{exp.position}</p>
                    <p class="text-gray-600 dark:text-gray-400">{exp.description}</p>
                  </div>
                ))
              }
            </div>
          </ProfileSection> -->

          <!-- 資格セクション -->
          <!-- <ProfileSection title="資格" className="mb-10">
            <ul class="list-disc list-inside space-y-2 text-gray-700 dark:text-gray-300">
              {
                ProfileContent.certifications.map((cert) => (
                  <li>
                    <span class="font-medium">{cert.name}</span>
                    <span class="text-sm text-gray-500 dark:text-gray-400 ml-2">
                      ({cert.year}年取得)
                    </span>
                  </li>
                ))
              }
            </ul>
          </ProfileSection> -->

          <!-- SNSセクション -->
          <ProfileSection title="SNS">
            <div class="mt-8 flex flex-wrap gap-7 justify-center">
              {
                ProfileContent.socialLinks.map((link) => (
                  <a
                    href={link.url}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-gray-600 lg:hover:text-gray-800 dark:text-gray-300 dark:lg:hover:text-white transition-colors duration-200"
                    aria-label={`Follow me on ${link.name}`}
                  >
                    <span class="sr-only">{link.name}</span>
                    <img
                      src={link.iconLight}
                      class={`${link.class} block dark:hidden`}
                      alt={link.name}
                    />
                    <img
                      src={link.iconDark}
                      class={`${link.class} hidden dark:block`}
                      alt={link.name}
                    />
                  </a>
                ))
              }
            </div>
          </ProfileSection>
        </div>
      </div>
    </div>
  </div>
</Layout>
